html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


main section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


#home {
    background-color: #d1d9e0;
}

#bio {
    background-color: #e7d4e8;
}

#portfolio {
    background-color: #dae8d4;
}

#contact {
    background-color: #fde2b6;
}