@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


body {
    background-color: (#F0F4EF);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* 3.2 Header + nav */
header {
    background-color: #222222;
    height: 10vh;
    padding-left:  10vw;
    padding-right: 10vh;
}
h1 {
    color: white;
    font-size: 1.2em;
}

nav a {
    color: white;
    text-decoration: none;
    
}

/* 3.3 Custom font */
h2 { }

/* 3.4 Main */
main{ 
    padding-left: 10vw;
    padding-right: 10vw;
}

/* 3.5 Gallery layout */
.grid-container {
    height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* 3.6 Card styling */
.card{
    background-color: white;
    border: solid; color: lightgray;
}

footer {
  background-color: #222222;
  color: white;
}

/* 3.8 Media queries */
@media screen and(max-width: 700px){
    photo-container{
        display: column
    }
}