body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    /*
     * Turn the container into a two-column grid. The repeat(2, 1fr)
     * syntax creates two columns 
     */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* create your child rules here:  */

.item-1,
.item-5 {
    grid-column: 1 / -1;
}


.item-2 {
    grid-column: 2 / 3;
}

.item-3 {
    grid-column: 1 / 2;
}

.item-4 {
    grid-column: 2 / 3;
}


.grid-container div {
    background-color: #fbe8ef;
    border: 1px solid #000;
    padding: 20px;
}

.item-2,
.item-4 {
    background-color: #f6c6d8;
}
