body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* create your child rules here:  */


.item-1 {
    grid-column: 1 / -1;
}
